 @use 'sass:math';


 /*-------------------------------------------------------------- *\
   Loops to create Classes for text color and Background Color
 \*------------------------------------------------------------*/

 // text-color

 @each $key,
 $val in $colors {

     .text-#{$key} {
         color: $val;
     }

     ;

     /*-----------------------------------------------------------------*\
     Use of Parent Selectors to Produce Pseudo Classes, hover, focus, visited, nth-child, last child. visited
   \*-----------------------------------------------------------------*/


     // Can be done this way
     /* 
     .text-hover-#{$key}:hover {
         color: $val;
     }
  */

     // Structure


     /*
     .text-class-#{$key} {
         &:hover {
             color: aqua;
         }

         &:visited {
             color: blue;
         }

         &:nth-child(2) {
             color: green;
         }

         &:last-child {
             color: bisque;
         }
     }
   */

     // Use of Parent Selector

     .text-hover-#{$key} {
         &:hover {
             color: $val;
         }
     }



     // background color

     .bg-#{$key} {
         background-color: $val;
     }

     ;



     /*-----------------------------------------------------------------*\
        Light and Dark Variation For Each Color in Text and Background
    \*-----------------------------------------------------------------*/

     /*--------------------------------------------------------------------------------------*\
        Use of If and Else Statement to Skip Light and Dark Variation for White & Black Color
    \*---------------------------------------------------------------------------------------*/


     @if($val  !=white and $val  !=black) {

         // Light Variation Text

         @for $i from 1 through 9 {
             .text-#{$key}-light-#{$i} {
                 color: mix(white, $val, $i * 10)
             }

             // parent selector to produce light variation of Pseudo Classes

             .text-hover-#{$key}-light-#{$i} {
                 &:hover {
                     color: mix(white, $val , $i * 10);
                 }
             }
         }

         // Light Variation Background

         @for $i from 1 through 9 {
             .bg-#{$key}-light-#{$i} {
                 background-color: mix(white, $val, $i * 10);
             }
         }



         // Dark Variation Text

         @for $i from 1 through 9 {
             .text-#{$key}-dark-#{$i} {
                 color: mix(black, $val, $i * 10);
             }

             // parent selector to produce Dark Variation of Pseudo Classes

             .text-hover-#{$key}-dark-#{$i} {
                 &:hover {
                     color: mix(black, $val , $i * 10);
                 }
             }
         }

         // Dark Variation Background

         @for $i from 1 through 9 {
             .bg-#{$key}-dark-#{$i} {
                 background-color: mix(black, $val, $i * 10);
             }
         }

     }

 }




 /*------------------------*\
  if  else statement Check
\*-----------------------*/

 @if(math.div(10, 3)==3.34) {
     .test-if {
         color: black;
     }
 }

 @else {
     .test-else {
         color: white;
     }
 }