/*-------------- *\
     Variables
\*-----------------*/


// theme colors

$primary: #326dee;
$secondary: #1ac886;
$error: #d32752;
$info: #f6c31c;


/*-------------- *\
   Maps Structure
\*-----------------*/
/*
$name: (
     "key": $value
);
*/

// Color Palate

$colors: (
     "primary": $primary,
     "secondary": $secondary,
     "error": $error,
     "info": $info,
     "blue": #1919e6,
     "red": #e61919,
     "yellow": #e6e619,
     "green": #19e635,
     "orange": #ffa600,
     "purple": #9900ff,
     "gray": #808080,
     "black": black,
     "white": white,
);


// Map functions

// @debug map-get($map: , $key: );
@debug map-get($colors , "primary"); //===> #326dee
@debug map-has-key($colors , "secondary"); //====> true

@debug map-remove($colors, "primary");
//=======>("secondary": #1ac886, "error": #d32752, "info": #f6c31c, "blue": #1919e6, "red": #e61919, "yellow": #e6e619, "green": #19e635, "orange": #ffa600, "purple": #9900ff, "gray": #808080, "black": black, "white": white) 

// @debug map-merge($map1: , $map2: )
@debug map-merge($colors, ("pink": #fcb0cb));





// use of map with selectors 

.test-btn {
     background-color: map-get($colors, "blue");
}




// spacing 
$base-margin: 0.75rem;
$base-padding: 0.75rem;


// borders 
$base-border-thickness: 1px;
$base-border-style: solid;
$base-border-radius: 20px;
// $custom-border-radius: 20px / 4;


// box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes 
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.50;
$font-size-xl: $base-font-size * 1.70;
$font-size-xxl: $base-font-size * 2;