@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}


@each $key,
$val in $colors {

    .btn-#{$key} {
        // text-decoration: none;
        // cursor: pointer;
        // display: inline-block;
        // border: 0;
        // padding: $base-padding $base-padding * 2;
        // border-radius: $base-border-radius;

        // @include btn($val);
        // background-color: $val;

        @include btn($val);

        &:hover {
            background-color: lighten($val, 5);
        }

    }

    .btn {
        @include btn;
    }


    .btn-outlined-#{$key} {
        // text-decoration: none;
        // cursor: pointer;
        // display: inline-block;
        // padding: $base-padding $base-padding * 2;
        // border-radius: $base-border-radius;

        // @include btn();
        // border: $base-border-thickness solid $val;
        // background-color: #fff;

        @include btn(#fff);
        border: $base-border-thickness solid $val;

        &:hover {
            background-color: $val;
        }

    }

}